@import 'variable';
@import 'mixins';

/* Page Principale */
*
{
    font-size: 20px;
}

body
{
    background-color:#579C87;
    margin: 0;
}

header
{
    width: 100%;
    
    h1{
        padding-bottom: 30px;
        margin-bottom: 20px;
        text-align: center;
        color: $ColorYellow;
        font-size: 45px;
        font-family: 'Roboto', sans-serif;
      } 
}   

main
{
    width: 100%;
    position: relative;
    background-color: white;
    border: 2px solid white;
    height: 84.43%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    section{ 
        height: $HmenuPageP;
        width: $WmenuPageP;
        border: 1px solid white;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow: 1px 1px 10px #555;
        h2 {
            text-align: center;
            font-size: 40px;
            }
        h3  {text-align: center;
            font-size: 40px;
            }
        .fas{
            margin-left: 170px;
            margin-top: 110px;
            font-size: 90px;
            background: -webkit-linear-gradient(left, red, orange);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
        }
        button{ 
            
            font-size: 35px;
            text-align: center;
            width: 480px;
            margin-bottom: 40px;
            border-radius: 10px;
            background-color: #579C87;
            color: #FDCB46;
            font-family: 'Roboto', sans-serif;
            box-shadow: 1px 1px 10px #555;
                .animation{
                    font-size: 110%;
                     @include animationbutton(); 
        
                }
        
    }
    a{
        text-decoration: none;
        }
                
}

    .animationloop{
        @include effetzoom();
    }


#menu1
{
        background-color: $colormenu1;
        
    }
    h2, h3{
        font-family: 'Satisfy', cursive;
        color: black;      
        
        
}

#menu2
{
    background-color: $colormenu2;
    h2, h3{
        font-family: 'Crimson Text', serif;
    }
    h2{
        margin-top: $MarginTOpH2Menu;
        background: -webkit-linear-gradient(left,#BDA64D,#6279D7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h3{
        color: #BDA64D;
    }
}
#menu3
{
    background-color: $colormenu3;
    h2{
        margin-top: $MarginTOpH2Menu;
        background: -webkit-linear-gradient(left,#1636B5,#2A8CD2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h3{
        color: #2A8CD2;
    }
    h2, h3{ 
    font-family: 'Dancing Script', cursive;
}
}
#menu4
{
    background-color: $colormenu4;
    h2{
        margin-top: $MarginTOpH2Menu;
        background: -webkit-linear-gradient(left,#24782F,#3AC14C);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h3{
        color: #3AC14C;
    }
    h2, h3{ 
    font-family: 'Caveat', cursive;
}
}

footer{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    position: sticky;
    bottom: 0;
    background-color: $ColorGREEN;
    margin-top: 15px;
    margin-bottom: 15px;
     a{
     @include effetwizz();
    display: inline-flex;
    color: $ColorYellow;
    margin-left: 20px;

 }}
 #contact{
    float: right;
    margin-right: 20px;
}

    ///////////////////////////////* PAGE 1 *////////////////////////////////////////

    header{
        a{
            text-decoration: none;
            color: $ColorYellow;
            font-size: 40px;
        }
    }
    
    .menu--note-enchantee{
        .menu_header{
            text-align: center;

        }
        h1{
            font-size: 50px;
        }
        i{
            background: -webkit-linear-gradient(left, red, orange);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 120px;
        }
    }


    .menu--note-enchantee
    {
        width: 100%;
        background-color: $colormenu1;
        font-family: 'Satisfy', cursive;   
    }

    .line-right{
       float: right;
       margin-right: 15vw;
       margin-bottom: -20px;
    }

    .line-left{
       float: left;
        position: absolute;
        margin-top: -40px;
        margin-left: 10%;
       
     }
     img{
    
        width: 24vw;
        margin-bottom: -10px;
    }
    
    
  li{
      list-style-type: none;
      display: inline;
  }

    

    .menu_prix { font-weight: bold;
               float: right;
               margin-right: 18%;
    }

    .menu-section{
        font-size: 30px;
        display: inline;
        @include UnderlineEffect();
        margin-left: 38%;
    }
  
    .menu_plat{
        
        font-size: 22px;
       margin-left: 15%;
    }

    .menu_footer{
        text-align: center;
        i{
            font-size: 100px;
            margin-top: 30px;  
            background: -webkit-linear-gradient(left, red, orange);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p{
            font-size: 40px;
            padding-bottom: 30px;
        }
    }

article{
    padding-bottom: 60px;
}


////////////////////////////////////////////* Page2 *////////////////////////////////:

.menu--chic-francaise{
    background-color: $colormenu2;
    font-family: 'Crimson Text', serif;
    padding-bottom: 30px;
    h1{
        padding-top: 120px;
        font-size: 60px;
        background: -webkit-linear-gradient(left,#BDA64D,#6279D7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
}


.menu_catégorie__entrée{
    color: #BDA64D;
}

.menu_catégorie__plat{
    color: #eeccff;
}
.menu_catégorie__dessert{
color: #6279D7;
}
.menu--chic-francaise{
    .line-right{
                margin-right: 4.5vw;
        }
    }


////////////////////////////////////////////* Page3 *////////////////////////////////////////////////////

.menu--delices--papilles{
    background-color: $colormenu3;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 30px;
    h1{
        padding-top: 120px;
        font-size: 60px;
        background: -webkit-linear-gradient(left,#1636B5,#2A8CD2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }

    .line-right{
        margin-right: 9.5vw;
    }
}

///////////////////////////////////////////////////////* Page4 *///////////////////////////////////////

.menu--palette--gout{
    background-color: $colormenu4;
    font-family: 'Caveat', cursive;
    padding-bottom: 30px;
    h1{
        padding-top: 120px;
        font-size: 60px;
        background: -webkit-linear-gradient(left,#24782F,#3AC14C);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
    .line-right{
        margin-right: 10.5vw;
    }
    
}


///////////////////////////////Responsive/////////////////////////////////////////////////////////////////


@media screen and (min-width: 1300px)
{
    main section{
        margin-right: 70px;
    }
}

@media screen and (max-width: 1060px)
{
    .menu_plat{
        
        font-size: 18px;
        
    }

    .menu_catégorie{
        margin-right: -20px;
    }
    
}

////////* Petite Résolution *//////////////////

@media screen and (max-width: 952px)
{   
    
    .menu-section {
        margin-left: 36%;
        font-size: 19px; 
    }
    .menu_plat{
        
       font-size: 14px;
        margin-left: 25px;
    }
    .menu_prix { 
        
        font-size: 12px;
        margin-right: 14%;
        margin-top: 10px;  
    }
    .line-right{ 
        margin-top: -10px;
        
    }
    .line-left{ 
        margin-left: 9.5%;
        
    }
    
}   

/////////* Mobile résolution *////////////

@media screen and (max-width: 536px)
{
  main{
      position: relative;
      margin: 0;
      padding: 0;
      text-align: start;
    
    section{
      width: 310px;
      height: 580px;
    }
    }
    
    button{
        width: 300px;
        font-size: 25px;
        }
    
#menu1 i{
    margin-left: 110px;
        }

    .menu_catégorie {
        margin-right: 0;
    }

    .menu_intitulé{
        padding-left: 0px;
    }

    .menu_plat{
        
        font-size: 14px;
         margin-left: 25px;
     }

     .menu-section{
         font-size: 15px;
     }

    img{
        width: 16vw;
    }
    main button{ 
        width: 300px;
        font-size: 25px;
        
    }
    
}

@media screen and (max-width: 420px)
{
        
    .menu-section{
        font-size: 13px;
    }
    .menu_plat { 
        
        font-size: 10.5px;
        margin-left: 7px;
         
    }

    .menu_footer{
        p{
            font-size: 25px;
        }
        i{
            font-size: 70px;
        }

    }

    footer{
        
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 0px;
    
     }

     a{
        font-size: 14px;
    }
    main button{ 
        width: 180px;
        font-size: 15px;
    }
    .menu--note-enchantee{
        h1{
            font-size: 30px;
        }
        i{  
            font-size: 60px;
        }
        .menu_prix{
            margin-right: 12px;
            font-size: 9.5px;
        }
        .menu_plat{
            margin-left: 9.5px;
            font-size: 10px;
        }
    }
    .menu--chic-francaise{
        
        h1{
            
            font-size: 30px;
        }
        .menu_prix{
            margin-right: 12px;
            font-size: 11px;
        }
        .menu_plat{
            margin-left: 12px;
            font-size: 11px;
        }
    }
    .menu--delices--papilles{
        h1{
            font-size: 30px;
        }
        .menu_prix{
            margin-right: 11px;
            font-size: 11px;
        }
        .menu_plat{
            margin-left: 11px;
            font-size: 11px;
        }
    }
    .menu--palette--gout{
        h1{
            font-size: 30px;
        }
        .menu_plat{
            margin-left: 11px;
            font-size: 12px;
        }
        .menu_prix{
            margin-right: 12px;
        }
    }
} 

