@charset "UTF-8";
/* VAriable */
/* Mixin */
/* effet zoom */
/* effet points suspenssion */
/* effet sur footer*/
/* effet soulignement sur page menu */
/* Page Principale */
* {
  font-size: 18px;
}

body {
  background-color: #579C87;
  margin: 0;
}

header {
  width: 100%;
}

header h1 {
  padding-bottom: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: #FDCB46;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main {
  width: 100%;
  background-color: white;
  border: 2px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 84.43%;
}

main section {
  height: 600px;
  width: 434px;
  border: 1px solid white;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-shadow: 1px 1px 10px #555;
          box-shadow: 1px 1px 10px #555;
  overflow: hidden;
}

main section h2 {
  text-align: center;
  font-size: 40px;
}

main section h3 {
  text-align: center;
  font-size: 40px;
}

main section .fas {
  margin-left: 170px;
  margin-top: 110px;
  font-size: 90px;
  background: -webkit-linear-gradient(left, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main button {
  font-size: 25px;
  width: 350px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #579C87;
  color: #FDCB46;
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: 1px 1px 10px #555;
          box-shadow: 1px 1px 10px #555;
  border: none;
}

main button .animation {
  -webkit-animation: typing 1s steps(5, end) infinite;
          animation: typing 1s steps(5, end) infinite;
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  font-size: 15px;
}

@-webkit-keyframes typing {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

main button .animation2 {
  -webkit-animation: typing 1s steps(5, end) infinite;
          animation: typing 1s steps(5, end) infinite;
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  font-size: 15px;
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

main button .animation3 {
  -webkit-animation: typing 1s steps(5, end) infinite;
          animation: typing 1s steps(5, end) infinite;
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  font-size: 15px;
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

main .button {
  text-align: center;
}

a {
  text-decoration: none;
}

.Legals {
  padding: 40px 40px 40px 40px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.animationloop {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .2s ease-in-out;
  -moz-animation: .2s ease-in-out;
  -o-animation: .2s ease-in-out;
  transition: .2s ease-in-out;
  opacity: 1;
}

.animationloop:hover {
  -webkit-transform: scale(1.1);
  -moz-animation: scale(1.1);
  -o-animation: scale(1.1);
  transform: scale(1.1);
  opacity: 0.6;
}

#menu1 {
  background-color: #FCDFDB;
}

h2, h3 {
  font-family: 'Satisfy', cursive;
  color: black;
}

#menu2 {
  background-color: #FFF5FE;
}

#menu2 h2, #menu2 h3 {
  font-family: 'Crimson Text', serif;
}

#menu2 h2 {
  margin-top: 240px;
  background: -webkit-linear-gradient(left, #BDA64D, #6279D7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu2 h3 {
  color: #BDA64D;
}

#menu3 {
  background-color: #EEF0F0;
}

#menu3 h2 {
  margin-top: 240px;
  background: -webkit-linear-gradient(left, #1636B5, #2A8CD2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu3 h3 {
  color: #2A8CD2;
}

#menu3 h2, #menu3 h3 {
  font-family: 'Dancing Script', cursive;
}

#menu4 {
  background-color: #FDFFFD;
}

#menu4 h2 {
  margin-top: 240px;
  background: -webkit-linear-gradient(left, #24782F, #3AC14C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu4 h3 {
  color: #3AC14C;
}

#menu4 h2, #menu4 h3 {
  font-family: 'Caveat', cursive;
}

footer {
  font-family: 'Roboto', sans-serif;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: #579C87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

footer a {
  color: #FDCB46;
  margin-left: 20px;
}

footer a:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-2px, 0px) rotate(1deg);
            transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
            transform: translate(2px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-2px, 1px) rotate(0deg);
            transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
            transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-2px, 0px) rotate(1deg);
            transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
            transform: translate(2px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-2px, 1px) rotate(0deg);
            transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
            transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

header a {
  text-decoration: none;
  color: #FDCB46;
  font-size: 60px;
}

.menu--note-enchantee .menu_header {
  text-align: center;
  padding-top: 25px;
}

.menu--note-enchantee h2 {
  font-size: 50px;
}

.menu--note-enchantee i {
  background: -webkit-linear-gradient(left, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 120px;
}

.menu--note-enchantee {
  background-color: #FCDFDB;
}

.menu--note-enchantee h3 {
  text-decoration: none;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 4px, transparent 5px) no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.menu--note-enchantee h3:hover {
  background-size: 100% 100%;
}

.menu_catégorie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu_intitulé {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-left: 12%;
  margin-right: 13%;
}

.line-right {
  margin-top: 25px;
  margin-right: 1%;
}

.line-left {
  margin-top: 25px;
  margin-left: 1%;
}

.menu_footer {
  text-align: center;
}

.menu_footer i {
  font-size: 100px;
  margin-top: 30px;
  background: -webkit-linear-gradient(left, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu_footer p {
  font-size: 40px;
  padding-bottom: 30px;
}

article {
  padding-bottom: 60px;
}

.menu--chic-francaise {
  background-color: #FFF5FE;
  font-family: 'Crimson Text', serif;
  padding-bottom: 30px;
}

.menu--chic-francaise h2 {
  padding-top: 120px;
  font-size: 60px;
  background: -webkit-linear-gradient(left, #BDA64D, #6279D7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.menu_catégorie__entrée {
  color: #BDA64D;
}

.menu_catégorie__plat {
  color: #eeccff;
}

.menu_catégorie__dessert {
  color: #6279D7;
}

.menu--delices--papilles {
  background-color: #EEF0F0;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 30px;
}

.menu--delices--papilles h2 {
  padding-top: 120px;
  font-size: 60px;
  background: -webkit-linear-gradient(left, #1636B5, #2A8CD2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.menu--palette--gout {
  background-color: #FDFFFD;
  font-family: 'Caveat', cursive;
  padding-bottom: 30px;
}

.menu--palette--gout h2 {
  padding-top: 120px;
  font-size: 60px;
  background: -webkit-linear-gradient(left, #24782F, #3AC14C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .menu_intitulé {
    margin-left: 4%;
  }
  img {
    width: 35vw;
  }
}

@media screen and (max-width: 536px) {
  main {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: start;
  }
  main section {
    width: 310px;
    height: 580px;
  }
  button {
    width: 200px;
    font-size: 25px;
  }
  #menu1 i {
    margin-left: 110px;
  }
  .menu_plat {
    margin-right: 30px;
  }
  main button {
    width: 350px;
    font-size: 20px;
  }
}

@media screen and (max-width: 420px) {
  header a {
    font-size: 35px;
  }
  img {
    width: 30vw;
  }
  .menu--note-enchantee h2 {
    font-size: 25px;
  }
  article {
    padding-bottom: 30px;
  }
  .menu--chic-francaise h2 {
    font-size: 30px;
    padding-top: 60px;
  }
  .menu--delices--papilles h2 {
    font-size: 30px;
    padding-top: 60px;
  }
  .menu--palette--gout h2 {
    font-size: 30px;
    padding-top: 60px;
  }
  .menu_intitulé {
    padding-left: 10px;
  }
  .menu_plat {
    font-size: 13px;
    margin-right: 20px;
  }
  .menu_prix {
    font-size: 13px;
  }
  .menu_footer p {
    font-size: 25px;
  }
  .menu_footer i {
    font-size: 70px;
  }
  footer {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  a {
    font-size: 14px;
  }
  main button {
    width: 150px;
    font-size: 18px;
    padding-bottom: 15px;
  }
}
/*# sourceMappingURL=style.css.map */