/* VAriable */
$ColorYellow : #FDCB46;
$ColorGREEN : #579C87;
$HmenuPageP : 600px;
$WmenuPageP : 434px;
$MarginTOpH2Menu : 240px;
$colormenu1: #FCDFDB;
$colormenu2: #FFF5FE;
$colormenu3: #EEF0F0;
$colormenu4: #FDFFFD;
